#app {
  .v-menu__content {
    color: var(--main_text);
    background-color: var(--main_bg) !important;
    border: 1px solid var(--main_border);

    .v-select-list {
      background: inherit !important;

      .v-list-item {
        background: inherit !important;
        color: inherit !important;
      }
    }
    .theme--light.v-icon {
      color: inherit !important;
    }

    .v-list {
      color: var(--main_text);

      .v-list-item {
        color: inherit !important;
      }
    }
  }

  .v-data-table--container {
    background-color: var(--main_bg)
  }

  .v-data-table-header th {
    white-space: nowrap
  }

  .dash-layout {
    .dash-block {
      width: 100%;
      height: 100%;
      border: 2px solid var(--secondary_bg);
      position: relative;
      overflow: scroll;
      box-shadow: none !important;
    }
  }

  .v-tabs {
    background: inherit !important;

    .v-tabs-bar {
      background: inherit !important;

      .v-tab {
        color: inherit !important;
      }

    }

    .v-tabs-items {
      background: inherit !important;
    }
  }

  .v-card__title .header {
    background: inherit !important;
  }
  .theme--light.v-data-table {
    .v-data-table__wrapper {
      table {
        tbody {
          tr {
            transition: all 0.4s ease;

            &:hover {
              background-color: var(--main_text) !important;
              &:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
                color: var(--main_bg) !important;
              }
            }
            &.v-data-table__selected {
              background-color: var(--main_text) !important;
              color: var(--main_bg) !important;
            }
          }
        }
      }
    }
  }
  // Стилизация textarea
  .theme--light.v-input input, .theme--light.v-input textarea {
    color: var(--main_text);
    &::-webkit-input-placeholder {
      color: var(--main_text);
    }
    &::-moz-placeholder {
      color: var(--main_text);
    }
    &::-ms-input-placeholder {
      color: var(--main_text);
    }
  }
  .theme--light {
    .v-text-field--outlined {
      &:not(.v-input--is-focused) {
        &:not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
          color: var(--main_text);
        }
      }
    }
  }
  //_____________
}
