#app {
  .v-menu__content {
    color: var(--main_text);
    background-color: var(--main_bg) !important;
    border: 1px solid var(--main_border);

    .v-select-list {
      background: inherit !important;

      .v-list-item {
        background: inherit !important;
        color: inherit !important;
      }
    }
    .theme--light.v-icon {
      color: inherit !important;
    }

    .v-list {
      color: var(--main_text);

      .v-list-item {
        color: inherit !important;
      }
    }
  }

  .v-data-table--container {
    background-color: var(--main_bg)
  }

  .v-data-table-header th {
    white-space: nowrap
  }

  .dash-layout {
    .dash-block {
      width: 100%;
      height: 100%;
      border: 2px solid var(--secondary_bg);
      position: relative;
      overflow: scroll;
      box-shadow: none !important;
    }
  }

  .v-tabs {
    background: inherit !important;

    .v-tabs-bar {
      background: inherit !important;

      .v-tab {
        color: inherit !important;
      }

    }

    .v-tabs-items {
      background: inherit !important;
    }
  }

  .v-card__title .header {
    background: inherit !important;
  }
  .theme--light {
    &.v-select .v-select__selections {
      color: var(--main_text)
    }
    &.v-data-table {
      .v-data-table__wrapper {
        table {
          tbody {
            tr {
              transition: all 0.3s ease-in-out;

              &:hover {
                background-color: var(--main_text);
                &:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
                  color: var(--main_bg);
                }
              }
              &.v-data-table__selected {
                background-color: var(--main_text);
                color: var(--main_bg);
              }
            }
          }
        }
      }
    }
    &.v-text-field--outlined {
      &:not(.v-input--is-focused) {
        &:not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
          color: var(--main_text);
        }
      }
    }
    // Стилизация textarea
    &.v-input input, .v-input textarea {
      color: var(--main_text);
      &::-webkit-input-placeholder {
        color: var(--main_text);
      }
      &::-moz-placeholder {
        color: var(--main_text);
      }
      &::-ms-input-placeholder {
        color: var(--main_text);
      }
    }
    .v-tooltip__content {
      color: #FFFFFF !important;
      border: 2px solid rgb(43, 104, 177) !important;
      background-color: rgb(43, 104, 177) !important;
    }
    .v-text-field > .v-input__control > .v-input__slot:before {
      caret-color: inherit !important;
      color: inherit !important;
      border-color: inherit !important;
    }
    &.primary--text {
      color: var(--main_text) !important;
      caret-color: var(--main_text) !important;
      border-color: var(--secondary_bg) !important;
    }
    &.v-label {
      color: var(--main_text) !important;
    }
    // Menu items size
    &.v-menu__content {
      .v-list {
        padding: 4px 0 !important;
      }
      .v-list-item {
        min-height: 35px !important;
        .v-list-item__content {
          padding: 8px 0 !important;
        }
      }
    }
    &.v-input--checkbox {
      color: var(--main_text);
    }
    &.v-card {
      background-color: var(--main_bg);
    }
  }
  .dash-layout.no-bg {
    .dash-block {
      border-color: transparent !important;
    }
    > div {
      background: transparent !important;
      .v-data-table--container,
      .dash-single .number-block,
      .dash-single .number-block .number {
        background: transparent !important;
      }
    }
  }
  .active.draggable .handle {
    background: rgb(0, 148, 218);
  }
}
