.dash-button
    cursor: pointer
    font-size: 25px

    .name
      text-decoration: none

    .textDecoration
      text-decoration: underline

    // .name
    //   text-decoration: underline
    //   position: relative

      // .underline
      //   position: absolute
      //   top: 55%
      //   left: 50%
      //   transform: translateX(-50%)
      //   height: 2px
      //   border-radius: 4px