.container::v-deep
  thead.v-data-table-header th
    background-color: var(--secondary_bg)

    span
      color: var(--main_text)

  tbody
    tr
      color: var(--main_text)

      &:nth-of-type(odd)
        background-color: var(--main_bg)

        &:hover td
          background-color: var(--main_bg)

      &:nth-of-type(even)
        background-color: var(--secondary_bg)

        &:hover td
          background-color: var(--secondary_bg)
