.dash-button
    cursor: pointer
    font-size: 25px

    .name
      position: relative

      .underline
        position: absolute
        top: 55%
        left: 50%
        transform: translateX(-50%)
        height: 2px
        border-radius: 4px