.dash-button
  cursor: pointer
  font-size: 25px

  .name
    text-decoration: none
    text-align: center
    vertical-align: middle
    text-transform: none

  .textDecoration
    text-decoration: underline
  &.button-disabled
    pointer-events: none
  &.button-loading
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: 0
      top: 0
      background-color: var(--main_text)
      opacity: .1