$dash-loading-height: 3px

@mixin container-height($dash-header-height)
  height: calc(100% - (#{$dash-header-height} + #{$dash-loading-height}))

.heatmap-container::v-deep
  @include container-height($dash-header-height: 35px)

  @media screen and (max-width: 1600px)
    @include container-height($dash-header-height: 25px)

  .heatmap-table
    height: 100%
    background-color: var(--main_bg)
    *::-webkit-scrollbar
      width: 10px
      height: 10px


    .table-th
      color: var(--main_text)
      background-color: var(--secondary_bg)
      border-left: thin solid var(--secondary_border)
    &.v-data-table
      .v-data-table__wrapper
        table
          tbody
            tr
              transition: all 0.3s ease-in-out

              &:hover
                color: var(--main_text) !important
    &__relative-row
      position: relative
    &__sticky-column
      position: sticky
      left: 0
      right: 0
      z-index: 3
      border-right: 1px solid var(--main_border)

  tbody
    tr
      color: var(--main_text)

      td
        border-left: thin solid var(--secondary_border)

        &:last-child
          border-right: thin solid var(--secondary_border)

        .td-inner
          display: flex
          align-items: center
          justify-content: center
          min-width: 80px
          height: 100%
          padding: 6px 12px

      &:nth-of-type(odd) td
        background-color: var(--main_bg)

      &:nth-of-type(even) td
        background-color: var(--secondary_bg)

      &:not(:first-child) td
        border-top: thin solid var(--secondary_border)
