.container::v-deep
  .header
    color: var(--main_text) !important
  thead
    background-color: var(--secondary_bg)

  tbody
    tr
      color: var(--main_text)

      &:nth-of-type(odd)
        background-color: var(--main_bg)

        &:hover td
          background-color: var(--main_bg)

      &:nth-of-type(even)
        background-color: var(--secondary_bg)

        &:hover td
          background-color: var(--secondary_bg)

  .select
    background-color: var(--secondary_bg)

    .v-select__selection,
    .v-input__icon .v-icon
      color: var(--main_text)
