.exin-modal-block

    .exin-title
        display: flex
        flex-flow: row nowrap
        justify-content: center
        margin: 20px 0

        p
            font-weight: bold
            margin: 0
            padding: 0
            margin-left: 10px
            text-transform: capitalize

    .headline 
        padding-bottom: 0

    .close-btn
        color: white

    .block-exim
        padding: 20px
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: center
        transition: all 0.4s ease

        .export-btn
            color: white
            padding: 20px 15px

        .import-btn
            color: white
            padding: 20px 15px

        .msgExp
            margin: 0
            padding: 0
            margin-top: 10px
            transition: all 0.4s ease
        
        .msgImp
            margin: 0
            padding: 0
            margin-top: 10px
            transition: all 0.4s ease

        .divider
            margin: 10px 0
            width: 100%
            height: 2px
            margin-bottom: 15px

        .file-itself
            margin-bottom: 20px
            width: 80%

            .v-input__prepend-outer
                margin-top: 8px

            .v-input__control

                .v-input__slot
                    min-height: 40px

                    .v-text-field__slot
                        padding: 0

                        .v-label
                            top: 13px

                        .v-file-input__text
                            cursor: pointer

        .select-exp
            margin-bottom: 20px
            width: 80%

            .v-input__prepend-outer
                margin-top: 8px

            .v-input__control

                .v-input__slot
                    min-height: 40px

                    .v-select__slot
                        padding: 0

                        .v-label
                            top: 13px

                        .v-select__selections
                            padding: 4px 0
                            
                            .v-select__selection 
                                margin: 0
                                margin-right: 4px
                                padding: 3px 0

                       



//     .file-name
//         margin: 20px auto
//         width: 80%

//         .v-input__slot
//             min-height: 40px

//             .v-label
//                 top: 14px

//             .v-label--active
//                 top: 18px
    
//     .select
//         margin: 0 auto
//         width: 80%
//         margin-bottom: 10px

//         .v-input__slot
//             min-height: 50px

//         .v-select__selections
//             min-height: 50px !important

//     .warning-msg
//         font-size: 14px
//         border: 1px solis rgba(0,0,0,0.4)
//         border-radius: 4px
//         color: rgba(0,0,0,0.6)
//         width: 80%
//         margin: 0px auto
//         transition: all 0.4s ease
//         opacity: 0
//         height: 0
//         overflow: hidden
//         text-align: center

//     .warning_show
//         opacity: 1
//         height: 30px

//     .exin-btn
//         color: white

//     .file-import
//         width: 80%
//         margin: 0 auto
//         margin-bottom: 20px

// .v-menu__content

//     .v-select-list
//         background: inherit

//     .v-list
//         background: inherit

//     .v-icon
//         color: inherit !important

// .v-input 
//     border: 1px solid transparent

// .exin-modal-block

//     .export-block

//         .select

//             .v-label
//                 color: inherit

//         .primary--text
//             color: inherit !important
//             caret-color: inherit !important

// #app 

//     .v-menu__content 

//         .v-select-list
//             color: inherit !important

//             .v-list
//                 color: inherit !important

//                 .v-list-item
//                     color: inherit !important

// #app

//     .file-name

//         .v-input__slot

//             .v-label
//                 color: inherit

//             input
//                 color: inherit

//     .file-import

//         .v-icon 
//             color: inherit

//         .v-input__slot

//             &:before
//                 border-color: inherit

//             .v-label
//                 color: inherit

//             .v-file-input__text
//                 color: inherit


