
    .passcard
        padding: 20px
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center

        .card-text-profile
            padding: 0 !important

            .headline
                text-align: center
                font-size: 20px
                color: rgba(0,0,0,0.6)

            .field-profile
                margin: 20px 0

            

        .profile-btn
            color: white

        .msg-profile
            font-size: 15px
            text-align: center
            transition: all 0.4s ease
            height: 0
            opacity: 0
            overflow: hidden

        .openMsg
            height: 30px
            opacity: 1

    .profile-tab

        .card-text-profile
            display: flex
            flex-flow: column nowrap
            justify-content: center
            align-items: flex-start
            padding-left: 50px !important

            .headline
                font-size: 18px
                padding: 30px 0 30px 0
                color: rgba(0,0,0,0.8)
                width: 100%
                text-align: center

            .zagolovok-values
                font-size: 18px 
                colro: rgba(0,0,0,0.6)
                margin: 20px 0 

        .action-btn
            width: 100%
            display: flex
            flex-flow: row nowrap
            justify-content: flex-end
            padding: 0 30px 30px 0

            .profile-btn
                color: white

        .msg-profile
            font-size: 18px
            text-align: center
            transition: all 0.4s ease
            height: 0
            opacity: 0
            overflow: hidden


        .openMsg
            height: 30px
            opacity: 1


