.create-btn 
    
    span
        color: white

.create-title 
    font-size: 1.2rem !important
    font-weight: normal
    color: rgba(0,0,0,0.8)
    padding-top: 15px
    text-align: center

.input-create 
    width: 300px

    .v-input__control
        color: inherit

        .v-input__slot
            color: inherit

            fieldset
                color: inherit !important
                opacity: 0.5

            .v-text-field__slot

                label
                    color: inherit

                input
                    color: inherit

            .v-input__append-inner

                button
                    color: inherit

.warn 
    font-size: 1rem
    color: rgba(0,0,0,0.5)
    text-align: center
    margin: 20px auto 10px auto
    transition: all 0.4s ease
    opacity: 0

.create-block
    padding: 20px 10px 10px 40px

    .color-picker-wrapper
        display: flex
        gap: 10px
        flex-wrap: wrap

        .color-box
            width: 24px
            height: 24px
            border-radius: 2px
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer

            &:nth-last-child(-n+2)
                margin-right: 30px

        .custom-color
            border: 1px solid var(--main_border)
            margin-right: 0 !important

        .custom-color-block
            display: flex
            font-size: 16px
            color: var(--main_border)

            #edit-icon
                margin-right: 4px
                margin-left: 10px
                cursor: pointer

        .active
          border: 1px solid var(--title)


.profile-block

    .headline
        padding: 30px 0px

.showwarning
    opacity: 1

.create-modal-block
    position: relative
    overflow: hidden
    height: 220px
    transition: all 0.4s ease

    .v-card
        z-index: 2

    .warning-block
            position: absolute
            bottom: 0
            left: 0
            padding: 10px 5px 
            color: rgba(0,0,0,0.8)
            border: 2px solid rgba(0,0,0,.2)
            border-radius: 4px
            display: flex
            width: 550px
            background: white
            transition: all 0.4s ease
            opacity: 1
            z-index: 1
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            align-items: center

            .warning-text
                font-size: 13px
                color: rgba(0,0,0,0.7)
                margin-left: 25px

            .warning-btn
                margin: 0 5px
                color: white
            
.create_warning
    height: 270px

    .warning-block
        visibility: visible

.create-modal-block-group
    position: relative

    .title-field
        font-size: 16px
        margin-top: 30px !important
        margin-bottom: 10px

    .warn
        font-size: 1rem

.v-color-picker__controls
  background-color: var(--secondary_bg)

.v-color-picker__input > input
  color: var(--main_text) !important

.v-color-picker__input > span
  color: var(--main_text) !important


.v-color-picker__edit
    padding: inherit

    span
      color: var(--main_text) !important


