
    .searches-block
        display: flex
        flex-flow: column nowrap
        justify-content: flex-start
        align-items: flex-start
        padding: 20px

        .searches-one
            display: flex
            flex-flow: row nowrap
            justify-content: flex-start
            align-items: center
            width: 100%
            cursor: pointer
            margin: 10px 0
            border-radius: 10px

            .search-id
                font-size: 18px
                padding: 7px 15px
                border-radius: 10px 0 0 10px
                cursor: pointer
                white-space: nowrap

            .search-query
                padding: 7px 15px
                font-size: 18px
                border-radius: 0 10px 10px 0
                width: 100%
                cursor: pointer
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
    
    .delete-btn 
        padding: 20px 15px !important

        span
            color: white

 